<div id="profile-edit" >
    <div class="card card-nav-tabs">
        <div class="card-header card-header-success">
            Edit Profile
        </div>
        <div class="card-body">
            <h4 class="card-title">Name:  {{userProfile?.first_name}} {{userProfile?.last_name}}</h4>
            <!-- <h4 class="card-title">Email:  {{userProfile?.email}}</h4>
            <h4 class="card-title">Current Role:  {{userProfile?.role}}</h4>  
            <h4 class="card-title">Current Active:  {{userProfile?.active}}</h4>   -->

            <div class="form" name="profileForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6 has-success">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" formControlName="first_name">
                        <show-errors [control]="profileForm.controls.first_name"></show-errors>
                    </div>

                    <div class="form-group col-md-6 has-success">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" formControlName="last_name">
                        <show-errors [control]="profileForm.controls.last_name"></show-errors>
                    </div>

                    <div class="form-group col-md-12 has-success">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" >
                        <show-errors [control]="profileForm.controls.email"></show-errors>
                    </div>

                    <ng-container *ngIf="isCurrentUser(userProfile)">
                        <div class="form-group col-md-6">
                            <label for="role">Role</label><br>
                            <span>{{userProfile?.role}}</span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="role">Active</label><br>
                            <span>{{userProfile?.active}}</span>
                        </div>                        
                    </ng-container>

                    <ng-container *ngIf="!isCurrentUser(userProfile)">
                        <div class="form-group col-md-6 has-success">
                            <label for="role">Role</label><br>
                            <div *ngFor="let userRole of USER_ROLES" class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="role" name="role" [value]="userRole.value" checked="checked"> 
                                        {{userRole.label}}
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-6 has-success">
                            <label for="role">Active</label><br>
                            <div *ngFor="let userActive of USER_ACTIVIES" class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" formControlName="active" name="active" [value]="userActive.value" checked="checked"> 
                                        {{userActive.label}}
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div class="form-group col-md-6">
                        <label for="role">Role</label>
                        <select class="form-control" #role_select_el id="role" data-style="select-with-transition" data-size="7" formControlName="role">
                            <option *ngFor="let userRole of USER_ROLES"  [ngValue]="userRole.value">{{userRole.label}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="active">Active</label>
                        <select class="form-control" #active_select_el id="active" data-style="select-with-transition" data-size="7" formControlName="active">
                            <option *ngFor="let userActive of USER_ACTIVIES" [ngValue]="userActive.value">{{userActive.label}}</option>
                        </select>
                    </div> -->

                    <div class="form-group col-md-12 has-success">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" formControlName="is_set_password" (ngModelChange)="setPassword()" >
                                Enable Change Password
                                <span class="form-check-sign">
                                <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-row col-md-12 has-success" [hidden] = "!isSetPassword">
                        <div class="col-md-4">
                            <label for="password">Old Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password" autofocus>
                            <show-errors [control]="profileForm.controls.password"></show-errors>
                        </div>

                        <div class="col-md-4 has-success">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" formControlName="new_password" >
                            <show-errors [control]="profileForm.controls.new_password"></show-errors>
                        </div>

                        <div class="col-md-4 has-success">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" formControlName="confirm_password">
                            <show-errors [control]="profileForm.controls.confirm_password"></show-errors>
                        </div>
                        <show-errors [control]="profileForm"></show-errors>
                    </div>

                    <div class="form-group col-md-6 has-success">                   
                        <button type="submit" class="btn btn-success"[disabled]="profileForm.invalid" (click)="onSubmit()"><i class="material-icons">save</i>Submit</button>
                        <button *ngIf="userProfile && !isCurrentUser(userProfile)" type="button" class="btn btn-success"  (click)="back()"><i class="material-icons">arrow_back</i>Back</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>